:root {
    --color: white;
    --background-color: #333;
    --shadow-color: #000;
    --spacing: 5px;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color);
    background-color: var(--background-color);
}

@font-face {
    font-family: terminus;
    src: url("/fnt/terminus_bold.ttf");
}

body {
    font-family: terminus;
    text-shadow:
        -1px -1px 0 var(--shadow-color),
        1px -1px 0 var(--shadow-color),
        -1px 1px 0 var(--shadow-color),
        1px 1px 0 var(--shadow-color);
}

.button {
    padding: var(--spacing);
    border: 1px solid var(--color);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    filter: invert();
}

button {
    font-family: terminus;
}

.flexColumn {
    display:flex;
    flex-direction:column;
}

.piechart {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    --h: calc(var(--p) / 100);
    background: conic-gradient(color(srgb calc(1 - var(--h)) var(--h) 0) calc(var(--p) * 1%),
            transparent 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .piechart {
        width: 20px;
        border-radius: 0;
        background: color(srgb calc(1 - var(--h)) var(--h) 0) calc(var(--p) * 1%);
        height: calc(var(--h) * 29px);
    }
}

.infoBox {
    position: fixed;
    top: 3rem;
    right: 0;
    padding: var(--spacing);
    margin: var(--spacing);
    border: 1px solid var(--color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#close {
    cursor: pointer;
}

#yourStatistics > div {
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#yourStatistics > div > strong {
    align-self: center;
    position: absolute;
    background-color: #00000000;
}

.choice-modal {
    border: 1px solid var(--color);
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#navbar {
    z-index: 1;
    flex-shrink: 0;
    padding: var(--spacing);
    border: 1px solid var(--color);
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: -webkit-fill-available;
    flex-wrap: wrap;
}

#navbar>div {
    gap: var(--spacing);
    display: flex;
    align-items: end;
    margin: var(--spacing);
}

#textContainer {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    width: 100vw;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: baseline
}

#effectsList {
    position: absolute;
    bottom: var(--spacing);
    right: 10px;
    display: flex;
    align-items: end;
}

#effectsList > div {
    padding: var(--spacing);
    border: var(---color) 1px solid;
    width: fit-content;
}

.moveToLeft {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}