:root {
    --color: white;
    --background-color: #333;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color);
    background-color: var(--background-color);
}

@font-face {
    font-family: pxl;
    src: url("/fnt/04b03.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: pxl;
    text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

#navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--color);
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#textContainer {
    margin: 10px;
}
.button {
    padding: 10px;
    border: 1px solid var(--color);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    filter: invert();
}

.piechart {
    height: 100%;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: conic-gradient(var(--color) calc(var(--p) * 1%), transparent 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar > div {
    display: flex;
    gap: 0.75rem;
}

#familyTree {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--color);
    display:flex;
    flex-direction: column;
    align-items:flex-end;
}

#close {
    cursor: pointer;
}