@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');
/*YES WE ABSOLUTELY DO NEED THIS WEBSITE TO HAVE ANIMATIONS.
ANY OTHER QUESTIONS????????????????????????????????????? */
:root {
    --colour1:#222222;
    --colour2: #2b2f35;
    --size: 128px;
}
@keyframes movebg{
    0% {background-position: right 0px bottom 0px;}
    100% {background-position: right -128px bottom -128px;}
}

@keyframes titleintro {
    0% {rotate: 2deg;}
    100% {rotate: -2deg;}
}

@keyframes pagecontent {
    0% {rotate: -2deg;}
    100% {rotate: 2deg;}
}

html,body { min-height:100%; }
html {
    overflow: hidden;
}
body {
    overflow-x: clip;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color:white;
    background: repeating-conic-gradient(#222222 0 25%, #2b2f35 0 50%) ;
    background-size: var(--size) var(--size);
    margin: 0;
    padding: 0;
    animation-name: movebg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

img {
    position:relative;
    left: 6px;
    top: 4px;
    width: 32px;
}
.about {
    position: absolute;
    bottom: 0;
    top: 350px;
}
.titol {
    font-size: 8vh;
    position: relative;
    text-align: center;
    animation-name: titleintro;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin: 0;
    padding: 0;
    text-decoration: wavy underline;
}
strong {
    position: relative;
    font-size: 0.6em;
    border: 2px solid;
    background-color: #585858;
    color: rgb(255, 255, 255);
    border-radius: 0.2em;
    padding: 2px;
    bottom: 0.2vw;
}
.splash {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-size: 4vw;
    position: relative;
}
.titlebar {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    animation-name: pagecontent;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    
    font-size: 2em;
    display: flex;
    
}

.menu > div.menu {
  background-color: #f1f1f1;
  width: 10px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  line-height: 75px;
}

.a2763 {
    overflow-y: auto;
    z-index: -1;
    min-height: 30vh;
}
@media only screen and (min-width: 880px) {
    .menu {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    }
    .a2763 {
    min-width: 355px;
    }
    ul {
    max-height: 60vh;
    min-height: 30vh;
    }
}
@media only screen and (max-width: 878px) {
    img {
        width: 24px;
    }
    .menu {
        flex-direction: column;
    }
    .subtitle {
        font-size: 1.5em;
    }
    .splash {
        font-size: 8vh;
        bottom: 10vh;
    }
    .details {
        min-height: 20vh;
    }
    .menu {
    margin-top: 30vh;
    max-width: 100vh;
    max-height: 60vh;
    min-width: 90vw;
    position: fixed;
    font-size: 3vh;
    top:  20%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    }
}

ul {
    margin: 2px;
    overflow-y: auto;
    border: 10px solid #585858;
    z-index: 1;
}

li {
    margin-left: -40px;
    padding-top: 0px;
    list-style-type: none;
    cursor:default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
li:hover {
    background-color: white;
    color: black;
    border-color: white;
}
li:active {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 204, 255);
}
.selecteditem {
    background-color: white;
    color: black;
    border-color: white;
}