:root {
    --c1: #000;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
}

@font-face {
    font-family: pxl;
    src: url("fnt/terminus_bold.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    image-rendering: pixelated;
    background-image: url("img/cats.png");
    cursor: url("img/arrow.cur"), default;
    font-family: pxl;
    height: 100vh;
}

.navbar {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 32;
    width: 100%;
}

#categories {
    display: flex;
    justify-content: space-between;
    gap: 0.5vw;
}

#categories>span {
    cursor: pointer;
}

.mid-mid__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100%;

    padding-top: 2rem;
    padding-bottom: 2rem;

    box-sizing: border-box;
}
.items-box {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: auto 0;
}

.main_label {
    background-color: var(--c1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    gap: 0.5em;
}

.desc {
    background-color: dimgrey;
}

.item {
    display: flex;
    flex-direction: column;
    border: var(--text) solid 1px;
}