@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');
/*YES WE ABSOLUTELY DO NEED THIS WEBSITE TO HAVE ANIMATIONS.
ANY OTHER QUESTIONS????????????????????????????????????? */
:root {
    --colour1:#222222;
    --colour2: #2b2f35;
    --size: 128px;
}
@keyframes movebg{
    0% {background-position: right 0px bottom 0px;}
    100% {background-position: right var(--size) bottom var(--size);}
}

@keyframes titleintro {
    0% {rotate: 2deg;}
    100% {rotate: -2deg;}
}

@keyframes pagecontent {
    0% {rotate: -2deg;}
    100% {rotate: 2deg;}
}
@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 1430deg;}
}
@keyframes splash {
    0% {font-size: 2vh;}
    50% {font-size: 5vh;}
    100% {font-size: 2vh;}
}
body {
    overflow: scroll;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color:white;
    background: repeating-conic-gradient(#222222 0 25%, #2b2f35 0 50%) ;
    background-size: var(--size) var(--size);
    margin: 0;
    padding: 0;
    animation-name: movebg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.unfunnyjoke {
    font-size: 1.2em;
    text-decoration: underline;
}
.titol {
    font-size: 8vh;
    position: relative;
    text-align: center;
    animation-name: titleintro;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin: 0;
    padding: 0;
    text-decoration: wavy underline;
}
strong {
    position: relative;
    font-size: 0.6em;
    background-color: #bfbfbf;
    color: black;
    border-radius: 0.2em;
    padding: 2px;
    bottom: 0.2vw;
}
.splash {
    box-shadow: #222222;
    text-shadow: #ff0000 -1px -1px;
    font-size: 3vh;
    position: relative;
    text-align: center;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    z-index: 300;
    left: 9vw;
    top: -2vh;
    margin: 0;
    padding: 0;
}
.titlebar {
    font-size: 3em;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pagecontent;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.container {
    margin: 10px;
    margin-top: -30px;
    font-size: 2em;
    display: grid;
    grid-template-areas: 
    "menu content";
    height: 500px;
    grid-template-columns: 4fr 5fr;
    position: relative;
    background-color: white;
    padding: 8px;
    gap: 10px;
}

.container > div {
  background-color: rgba(0, 0, 0, 1);
}
.container > div.menu {
  grid-area: menu;
}
.container > div.content {
  grid-area: content;
  overflow: auto;
}
a {
    color: #fff;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
a:hover, a:active {
    color: rgb(18, 112, 219)
}
span:hover {
    cursor:default;
}
ul {
    margin-top: 0px; /* this is stupid why do i need to make this say zero */
}
li {
    margin-left: -40px;
    padding-top: 0px;
    list-style-type: none;
    cursor:default;
}
li:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.speeeeeen {
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}